.container {
  height: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  mat-form-field {
    align-items: center;
    width: 100%;
    max-height: 150px;
  }

}

.datapicker-container {
  display: flex;

  mat-form-field {
    width: 40%;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.button-container {
  display: flex;
  justify-content: end;

  button {
    margin-left: 10px;
  }
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
