nav {
  background-color: #fff;
  border-bottom: 1px solid black;
}

ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  list-style-type: none;
  padding: 0;
}

h1 {
  margin: 0;
}
