.navigation {
  background-color: #fff;
  border-bottom: 1px solid black;
}

.nav-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  list-style-type: none;
  padding: 0;
}

.button-container {
  display: grid;
  gap: 5px;
  grid-template-areas: "login register"
                        "create create";
}

.button-login {
  grid-area: login;
}

.button-register {
  grid-area: register;
}

.button-create {
  grid-area: create;
}

.title {
  margin: 0;
}
